<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118041269559-qqe8nehu00vaj1hkkn89in2vtglq29ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118041269559-qqe8nehu00vaj1hkkn89in2vtglq29ks</string>
	<key>API_KEY</key>
	<string>AIzaSyACHAVftDBb2JyddrhFzMVipjS97nJNlRM</string>
	<key>GCM_SENDER_ID</key>
	<string>118041269559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-1202</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-1202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118041269559:ios:8499170f74414bc4ceb6b2</string>
</dict>
</plist>